.not-found {
  text-align: center;
  padding: 2rem;
}

.not-found h1 {
  color: #ff4444;
}

.not-found a {
  color: #007bff;
  text-decoration: none;
}

.not-found a:hover {
  text-decoration: underline;
}

/* NotFound */

.not-found {
  text-align: center;
  padding: 2rem;
}

.not-found h1 {
  color: #ff4444;
}

.not-found a {
  color: #007bff;
  text-decoration: none;
}

.not-found a:hover {
  text-decoration: underline;
}
*/

/* Скидання стандартних стилів */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  /* background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  background: #983f3f2b;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

/* Контейнер для обмеження ширини */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Заголовок додатку */
.app-title {
  text-align: center;
  margin-bottom: 30px;
  color: #2c3e50;
  font-size: 2.5rem;
}
